/*body {
  background-color:#040F16;
}*/
*{margin:0;
padding:0;
font-family: sans-serif;}

html,body{
  height: 100%;
}

h1 {
  color: white;
}
h2 {
  color: #FBFBFF;
}
h3 {
  color: #01BAEF;
}
h4 {
  color: #0B4F6C;
}
h5 {
  color: #B80C09;
}
.container{
  height: 100%;
  width: 100%;
  background: black;
  color: black;
}

.addToCart{
  /*position: fixed;
  padding: 10px;
  background: #B80C09;
  width: 500px;
  left:50%;
  text-align: center;*/
  right: 500px;
  color: white;
}

.toolbar{
  /*cursor: crosshair;
  color:#01BAEF;
  background: white;
  position: fixed;
  width: 100%;
  length: 20%;
  top: 0px;
  left: 0px;
  border-bottom: 10px;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border-color: lightgreen;*/
  border: thin white solid;
  width: 100%;
  height:12%;
  background: #1abc9c;
  color: white;
  position: absolute;
}

.logo{
  top:13%;
  left:5%;
  position: absolute;
  z-index: 101;
}

.SearchBar{
  /*percentages are relative to their location, so in this case
  the search bar takes up 30% of the height of the div it is
  located in (in this case, toolbar)*/
  border: thin black solid;
  top: 25%;
  left: 25%;
  width: 45%;
  height: 30%;
  background: white;
  z-index: 102;
  position: absolute;
}

.cart{
  /*background:  #FBFBFF;*/

  top:13%;
  left: 90%;
  position: absolute;
  z-index: 102;
}

.ProductOnDisplay{
  top: 20%;
  left: 50%;
  z-index: 1;
  position: absolute;
}

.symbols {
  top: 20%;
  left: 5%;
  position: absolute;
}

.imageBorder{
    border: thin white solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    max-width: auto;
    margin: auto;
}

.imageBorderCaption {
    background-color: #040F10;
    color: white;
    font: sans-serif;
    padding: 3px;
    text-align: center;
}
