/*body {
  background-color:#040F16;
}*/
:root{
--flickr-pink: #f72585ff;
--byzantine: #b5179eff;
--purple: #7209b7ff;
--purple-2: #560badff;
--trypan-blue: #480ca8ff;
--trypan-blue-2: #3a0ca3ff;
--persian-blue: #3f37c9ff;
--ultramarine-blue: #4361eeff;
--dodger-blue: #4895efff;
--vivid-sky-blue: #4cc9f0ff;
}
*{margin:0;
padding:0;
font-family: sans-serif;}

html,body{
  height: 100%;
}

flickr-pink{
  color: var(--flickr-pink);
}

byzantine{
  color: var(--byzantine);
}

purple{
  color: var(--purple);
}

purple-2{
  color: var(--purple-2);
}

trypan-blue{
  color: var(--trypan-blue);
}

trypan-blue-2{
  color: var(--trypan-blue-2);
}

persian-blue{
  color: var(--persian-blue);
}

ultramarine-blue{
  color: var(--ultramarine-blue);
}

dodger-blue{
  color: var(--dodger-blue);
}

vivid-sky-blue{
  color: var(vivid-sky-blue);
}

h2 {
  color: var(--flickr-pink);
}
h3 {
  color: #01BAEF;
}
h4 {
  color: #0B4F6C;
}
h5 {
  color: #B80C09;
}
.container{
  height: 200%;
  width: 100%;
  background: lightgrey;
  color: black;
}

.addToCart{

  right: 500px;
  color: white;
}

.toolbar{
  border: thin white solid;
  width: 100%;
  height:12%;
  background: 	dimgray;
  color: white;
  position: absolute;
}

.toolbarMenu ul{
  list-style-type: none;
  margin-top: 2.4%;
  margin-left: 22%;
  background-color: 	dimgray;
  overflow: none;

}

.toolbarMenu ul li{
  list-style: none;
  font-size: 20pt;
  margin-top:  32px;
  margin-left: 59px;
  color: white;
  background: 	dimgray;
  cursor: pointer;
  float: left;
  padding: 0px;
}

.toolbarMenu ul li:nth-child(2){
  padding-left: 25px;

}
.toolbarMenu ul li:last-child{
  padding-left: 135px;
}

.logo{
  top:13%;
  left:5%;
  position: absolute;
  z-index: 101;
}

.SearchBar{

  border: thin black solid;
  top: 25%;
  left: 25%;
  width: 45%;
  height: 30%;
  background: white;
  z-index: 102;
  position: absolute;
}

.cart{
  top:13%;
  left: 90%;
  position: absolute;

}

.goBack{
  margin-top: 7.5%;
  margin-left: 7.5%;
  font-size: 8pt;
  position: absolute;
}
.productTitleTable table{
  margin-top: 8%;
  margin-left: 7%;
  position:absolute;
  /*border: 1px solid black;*/
}

.productTitleTable{
  font-family: sans-serif;
  font-size: 27pt;
}

.productTitleSubtitles{
  font-family: sans-serif;
  font-size: 10pt;
}

.ProductOnDisplay{
  top: 26%;
  left: 50%;
  z-index: 1;
  position: absolute;
}

.symbolTable table{
  list-style-type: none;
  margin: 0;
  margin-top: 12%;
  padding-left: 5%;
  overflow: hidden;
  size: 10px;
  width: 250px;
  position: absolute;
}

.symbolTable table tr td{
  padding: 30px;

}

.gap{
  padding-left: 60px;
}

.textAlign{
  text-align: center;
}

.symbolTable ul li {
  display: block;
  color: white;
  margin-left:5%;
  padding: 14px 16px;
  text-decoration: none;
  width: 205px;
}

.symbols {
  top: 20%;
  left: 5%;
  position: absolute;
}

.imageBorder{
    border: thin white solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    max-width: auto;
    margin: auto;
}

.imageBorderCaption {
    background-color: #040F10;
    color: white;
    font: sans-serif;
    padding: 3px;
    text-align: center;
}

.productImageTable ul{
  list-style-type: none;
  margin-left: 50%;
  margin-top: 47%;
  z-index: 103;
  position: absolute;

}

.productImageTable ul li{
    list-style-type: none;
    float: left;
    padding: 0px 17px;
}

.productImageTable ul li:first-child,.productImageTable ul li:last-child{

    text-align: center;
    padding-top:40px;
    font-size: 20pt;
}

.priceList{
  margin-top: 44%;
  margin-left: 18%;
  font-size: 20pt;
  position: absolute;
}

.priceListButton{
  margin-top: 46.2%;
  margin-left: 14.2%;
  font-size: 20pt;
  border-radius: 25px;
  background: var(--vivid-sky-blue);
  padding: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  position: absolute;

}

.productText{
  margin-top: 56%;
  margin-left: 7%;
  position: absolute;
}

.productText dt{
  font-size: 20pt;
}
